button,
input[type='submit'] {
	height: 2.5em;
	border-radius: 1em;
	border: 0px;
	padding: 0.5em 1em;
	color: var(--main-color);
	background-color: white;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover,
input[type='submit']:hover {
	background-color: var(--main-color);
	color: white;
}

button.dark,
input.dark[type='submit'] {
	height: 2.5em;
	border-radius: 1em;
	border: 0px;
	padding: 0.5em 1em;
	color: white;
	background-color: var(--main-color);
    transition-duration: 0.3s;
    cursor: pointer;
}

button.dark:hover,
input.dark[type='submit']:hover {
	background-color: var(--main-color-light);
	color: white;
}

