body {
    padding: 0;
    width: auto;
    min-height: 80vh;
    font-family: "Inter", sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error {
    border-radius: 10%;
    background-color: #fc9d04;
    width: 20em;
    height: 13em;
    margin-top: 5em;
    padding-top: 2em;
    text-align: center;
}

#error > h3{
    color: black;
}

#error a {
    text-decoration: none;
    color: white;
}

#error a:hover {
    font-size: larger;
    transition: 0.4s;
}
