div#proposal {
    background-color: var(--disable-color);
    width: 100%;
    height: 15em;
    text-align: center;
	position: relative;
	margin-top: 1em;
}

div#proposal-msg {
    background-color: var(--disable-color);
    width: 107em;
    height: 9em;
    text-align: center;
	position: relative;
	margin-top: 1em;
}

h3 {
	display: block;
}

#proposal-pic {
	border-radius: 100%;
	width: 3em;
	height: 3em;
}

#proposal-text {
	width: 15em;
	height: 5em;
	background-color: red;
	vertical-align: top;
	margin: auto;
}

#proposal-header {
	position: absolute;
	top: 0;
	display: inline-block;
	height: 3em;
	width: 4em;
}

div#proposal-info {
	display: inline-block;
	vertical-align: top;
	height: 95%;
}

div#proposal-info a{
	text-decoration: none;
	font-weight: bold;
	color: var(--main-color);
}

div#proposal-info a:hover{
	color: white;
}

div#proposal-message,
div#proposal-message-submit {
	border-radius: 2%;
	height: 50%;
}

div#proposal-message-submit {
	left: 43.5em;
	position: absolute;
}

div#proposal-message textarea, div#proposal-message-submit textarea {
    width: 45em;
    height: 100%;
    overflow: auto;
    border: 1px solid #888; 
    background-color: white;
    border-radius: 1em;
    border: 0px;
	resize: none;
	padding: 1em;
	margin-right: 0em;
}

div#proposal-message textarea:focus,
div#proposal-message-submit textarea:focus {
	outline: none;
}

a#proposal-pet {
	font-weight: bold;
	text-decoration: none;
}

#proposal button {
	margin: 3em 1em;
	width: 13em;
	height: 2.5em;
	border-radius: 1em;
	border: 0px;
	color: black;
	transition-duration: 0.3s;
	display: inline-block;

}

button#acceptRequest {
	background-color: lightgreen;
}

button#acceptRequest:hover {
	background-color: green;
	color: white;
}

button#refuseRequest,
button#cancelRequest {
	background-color: #ff726f;
}

button#refuseRequest:hover,
button#cancelRequest:hover {
	background-color: #f70d1a;
	color: white;
}

button#answerRequest {
	background-color: var(--main-color);
}

button#answerRequest:hover {
	background-color: orange;
	color: white;
}

button#submitAnswer {
	width: 7em;
	vertical-align: top;
}

#adoption-request {
	align-self: center;
	margin: 1em;
}

#proposal-request form * {
	display: block;
	text-align: left;
}

#add-proposal-submit {
	cursor: pointer;
	border: 0;
	color: white;
	background-color: var(--main-color);
	padding: 0.5em 1em 0.5em 1em;
}

#proposal-messages-refresh #update img {
	margin-top: 1em;
}

#proposal-messages-refresh #update img:hover {
	transition: transform 0.6s;
	transform: rotate(360deg);
}

#proposal-messages-refresh {
	position: absolute;
	right: 2em;
	top: 2em;
	display: inline-block;
}