@media (max-width: 110em) {
	#pet-album section{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 90em) {
	#pets-page #pet-list {
		min-width: 0em;
		margin: 2em 2em 2em 2em;
		padding: 3em;
		padding-left: 2em;
		padding-right: 2em;
	}
}

@media (max-width: 80em) {
	.pet-card-grid,
	.potential-collaborators-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.shelter-collaborators-grid,
	#pet-album section{
		grid-template-columns: repeat(1, 1fr);
	}

	.shelter-collaborators-grid .collaborator-card{
		margin: auto;
	}
}

@media (max-width: 65em) {
	.pet-card-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 60em) {
	#profile,
	#shelter-profile {
		display: block;
	}
	#profile #owned{
		margin: auto;
	}
	#pet header {
		display: block;
	}

	#pet header > * {
		margin: 2em;
		margin-left: 0;
	}

	#pet header #actions #adoption-request-button {
		margin-top: 0.5em;
		margin-left: 0;
	}

	#edit-pet form{
		width: auto;
		margin: 0;
	}

	#edit-pet #pet-photos-row {
		grid-template-columns: repeat(2, 1fr);
	}

	#edit-pet #description textarea {
		width: 25em;
	}
}

@media (max-width: 40em) {
	.pet-card-grid,
	.potential-collaborators-grid {
		grid-template-columns: repeat(1, 1fr);
	}
	#add-pet form {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			"pets-name"
			"pets-age"
			"pets-location"
			"pets-species"
			"pets-description"
			"pets-color"
			"pets-sex"
			"pets-size"
			"pets-photos"
			"submit";
	}
	#pet header #actions {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			"favorite"
			"ask"
			"propose";
		align-self: start;
		text-align: start;
	}

	#pets-page {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			"searches"
			"pet-list";
	}
	#pets-page #searches {
		justify-self: start;
		margin: auto;
	}

	#edit-profile #edit-profile-body {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas:
			"profile-photo"
			"username"
			"name"
			"password"
			"submit"
			"delete-user";
	}

	div#proposal-message textarea,
	div#proposal-message-submit textarea{
		width: 35em;
	}

	#nav-bar .hamburger {
        display: block;
		padding: 1em;
		color: white;
        background-color: var(--dark-color);
    }
    
    #nav-bar .hamburger:before {
        content:'\2630';
	}

    #nav-hamburger:checked + .hamburger:before {
        content:'\2715';
    }
    
    #nav-hamburger:checked + .hamburger + ul li{
		opacity: 1;
		max-height: max-content;
	}

	#nav-hamburger:checked + .hamburger + ul{
		opacity: 1;
	}

	#nav-bar ul {
		opacity: 0;
		transition: all .3s;
	}

	#nav-bar ul li {
		width: 100%;
		max-height: 0;
		opacity: 0;
        transition: all .3s;
	}
	
}
