#potential-collaborators {
    max-width: 1200px;
	margin: 2em auto;
	padding: 3em 5em;
	border-radius: 1em;
	background-color: var(--light-color);
	grid-area: 2 / 1 / span 1 / span 1;
	align-self: center;
	display: block;
}

.potential-collaborators-grid {
    margin-top: 2em;
	display: grid;
	column-gap: 2em;
	row-gap: 4em;
	grid-template-columns: repeat(3, 1fr);
}

.collaborator-card {
    cursor: pointer;
    max-width: 250px;
    transition: transform 0.3s;
    margin: 1em;
}

.collaborator-card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#collaborator-card-content{
    position: relative;
}

.collaborator-card img {
	height: 250px;
    width: 250px;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.collaborator-card h2 {
    position: absolute;
    color: var(--main-color);
    bottom: 0.5em;
    left: 10%;
}

#collaboration-proposal {
    max-width: 1200px;
	margin: 2em auto;
	padding: 3em 5em;
	border-radius: 1em;
	background-color: var(--light-color);
	grid-area: 2 / 1 / span 1 / span 1;
}

#collaboration-proposal-body {
    display: body;
}

#collaboration-proposal-body textarea{
    padding: 0.5em;
    width: 100%;
    border: none;
	outline: none;
    resize: none;
}